[submodule "a-and-d-arcade"]
	path = a-and-d-arcade
	url = https://github.com/DiaeEddineJamal/a-and-d-arcade.git
[submodule "a-and-d-pong"]
	path = a-and-d-pong
	url = https://github.com/DiaeEddineJamal/a-and-d-pong.git
