[submodule "lmogolyan-arcade"]
	path = lmogolyan-arcade
	url = https://github.com/DiaeEddineJamal/lmogolyan-arcade.git
[submodule "mangolian-pong"]
	path = mangolian-pong
	url = https://github.com/DiaeEddineJamal/mangolian-pong.git
